# Firebase Configuration
# Get these values from your Firebase Project Settings
VITE_FIREBASE_API_KEY=AIzaSyD0n_CaZPieu8UvFJlY1RZUi7CztAvfb34
VITE_FIREBASE_AUTH_DOMAIN=cronogramasec.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cronogramasec
VITE_FIREBASE_DATABASE_URL=https://cronogramasec-default-rtdb.firebaseio.com
VITE_FIREBASE_STORAGE_BUCKET=cronogramasec.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=848884905231
VITE_FIREBASE_APP_ID=1:848884905231:web:5876c6f1c529121d303a7a
VITE_FIREBASE_MEASUREMENT_ID=G-HCC859F95X

# VAPID Keys for Push Notifications
VITE_VAPID_PUBLIC_KEY=BABl7HKDTrxJjmOFlk40RWetlG36TspxrP9Lr6L9kloJUGUTsw-rrvp4rGaBt7kEuLnqKJRr2qcEqHN-MJNJ6ts
VAPID_PRIVATE_KEY=Rg4E7SWPxFqFBnC-f8jgIWijprk8B01sE8aRjg-rs4M
VAPID_EMAIL=mailto:governoparanatama@gmail.com

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
